<header>
  <h1>Address</h1>
</header>

<div id="addresses">
  <table>

      <tr>
        <td><span class="address"><%= @addresses.full_address %></span></td>

        <td><%= link_to 'Edit Address', [:edit, :admin, @addresses], class: 'edit',
                        id: "edit_#{@addresses.get_link_id_address}" %></td>
        <td>&nbsp</td>
      </tr>

  </table>
</div>