<header>
  <h1>Addresses</h1>
  <ul class="actions">
    <%= link_to "Create Address", new_admin_address_path, class: 'new' %>
  </ul>
</header>

<div id="addresses">
  <table>
    <% @addresses.each do |address| %>
      <tr>
        <td><span class="address"><%= address.full_address %></span></td>

        <td><%= link_to 'Edit Address', [:edit, :admin, address], class: 'edit', id: "edit_#{address.postcode}" %></td>
        <td>&nbsp</td>
        <td><%= link_to 'Delete Address', [:admin, address], method: :delete, id: "delete_#{address.postcode}",
                  data: { confirm: 'Are you sure you want to delete this address?' },
                  class: 'delete' %></td>
      </tr>
    <% end %>
  </table>
</div>