<header>
  <h1>Postcodes</h1>
  <ul class="actions">
    <%= link_to "Create Postcode", new_admin_postcode_path, class: 'new' %>
  </ul>
</header>

<div id="postcodes">
  <table>
    <!-- normally I would use country for each one but path is wrong had to use countries -->
    <% @postcodes.each do |postcode| %>
      <tr>
        <td><span class="postcode"><%= postcode.postcode %></span></td>
        <td><%= link_to 'Edit Postcode', [:edit, :admin, postcode], class: 'edit', id: "edit_#{(postcode.postcode).parameterize.underscore}" %></td>
        <td>&nbsp</td>
        <td><%= link_to 'Delete Postcode', [:admin, postcode], method: :delete, id: "delete_#{(postcode.postcode).parameterize.underscore}",
                  data: { confirm: 'Are you sure you want to delete this postcode?' },
                  class: 'delete' %></td>
      </tr>
    <% end %>
  </table>
</div>