<header>
  <h2>Previous Films Seen <small>(last 100 films)</small></h2>
</header>

<table class="table table-striped table-condensed" style="width: 70%">
  <th>Film</th>
  <th>Film Format</th>
  <th>Date @ Home</th>
  <% @previous_films_list.each do |previous_film| %>
    <tr>
    <td><%= previous_film.film.title %></td>
    <td><%= previous_film.film_format %></td>
    <td><%= previous_film.film.created_at.strftime("%d-%m-%Y") %></td>
    </tr>
  <% end %>
</table>