<header>
 <h1>Edit Film</h1>
</header>

<%= render 'form', film: @film %>

<% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, 'error') %>
        prohibited this film from being created: </h2>

      <ul>
        <% @film.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>