<header>
  <h1>Films</h1>
</header>

<div class="carousel">
  <span>Action</span>
  <div class="slider">
    <% @films.each do |film| %>
      <div class="slide"><%= link_to image_tag(film.image1, size: "141x200"), film %></div>
    <% end %>
  </div>
  <span>Thriller</span>
  <div class="slider">
    <% @films.each do |film| %>
      <div class="slide"><%= link_to image_tag(film.image1, size: "141x200"), film %></div>
    <% end %>
  </div>
</div>