<header>
  <h2>Films (table)</h2>
</header>

<div class="film_table">
  <table class="film_table">
    <% @films.in_groups_of(4, false) do |film_array| %>
      <tr>
        <% film_array.each do |film| %>
          <td><%= image_tag(film.image1, size: "141x200") %> <div>Rent</div></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>