// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 65%;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }

  td, th {
    line-height: 24px !important
  }
}

#tasks a {
  @extend .list-unstyled;
  font-family: "FontAwesome";
  margin-bottom: 10px;
  padding-left: 2px;
}

.film_table {
  @extend .table;
  @extend .table-responsive;
  @extend .table-bordered;
  @extend .text-center;

  border-collapse:separate;
  border-spacing:5px 5px;
}

.show-title {
  font-size: 120%;
}

.show-release {
  font-size: 90%;
}

.rental-button {
  margin-top: 5px;
}