// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#attributes {
  @extend .table;
  @extend .table-condensed;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }

  td, th {
    line-height: 24px !important
  }
}

#tasks a {
  @extend .list-unstyled;
  font-family: "FontAwesome";
  margin-bottom: 10px;
  padding-left: 2px;
}

.table-paginate {
  padding-left: 50px;
}

.pagination {
  padding: 0px 0px 3px 0px;
  margin: 0px;
}

.panel-body {
  height:250px;
}

.panel-footer {
  height: 125px;
  padding: 10px;
}

.show-title {
  font-size: 100%;
}

.show-release {
  font-size: 85%;
}

.rental-button {
  margin-top: 5px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 150px;
  height: 100%;
  margin-left: -150px;
  background: #fff;
}

#wrapper #sidebar-wrapper {
  width: 150px;
}

#wrapper #page-content-wrapper {
  //position: absolute;
  width: 90%;
  padding-left: 50px;
  float: right;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 30px;
}