<header>
  <h1>Counties</h1>
  <ul class="actions">
    <%= link_to "Create County", new_admin_county_path, class: 'new' %>
  </ul>
</header>

<div id="counties">
  <table>
    <!-- normally I would use country for each one but path is wrong had to use countries -->
    <% @counties.each do |county| %>
      <tr>
        <td><span class="county"><%= county.county %></span></td>
        <td><%= link_to 'Edit county', [:edit, :admin, county], class: 'edit', id: "edit_#{county.county}" %></td>
        <td>&nbsp</td>
        <td><%= link_to 'Delete county', [:admin, county], method: :delete, id: "delete_#{county.county}",
                  data: { confirm: 'Are you sure you want to delete this county?' },
                  class: 'delete' %></td>
      </tr>
    <% end %>
  </table>
</div>